{% extends 'base.html.twig' %}

{% block body %}
    <h2>EN CONSTRUCTION</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi cum molestiae quasi totam. Cupiditate, dolore, ducimus ea, esse in ipsum laboriosam magnam natus nobis pariatur perspiciatis provident saepe temporibus?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi cum molestiae quasi totam. Cupiditate, dolore, ducimus ea, esse in ipsum laboriosam magnam natus nobis pariatur perspiciatis provident saepe temporibus?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi cum molestiae quasi totam. Cupiditate, dolore, ducimus ea, esse in ipsum laboriosam magnam natus nobis pariatur perspiciatis provident saepe temporibus?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi cum molestiae quasi totam. Cupiditate, dolore, ducimus ea, esse in ipsum laboriosam magnam natus nobis pariatur perspiciatis provident saepe temporibus?
    </p>
{% endblock %}